.cart-more {
  min-height: 128px;
  border-top: 1px solid #cdcdcd;
  border-bottom: 1px solid #cdcdcd;
  padding-top: 13px;
  padding-bottom: 16px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 37px;
    padding-right: 37px;
    border: 1px solid #cdcdcd;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    min-height: 72px;
    padding-left: 0;
    padding-right: 0;
  }
}

.cart-more__tab {
  width: 100%;
  margin-bottom: 14px;
  border-collapse: collapse;

  @media (min-width: $tablet-width) {
    margin-top: 16px;
    margin-bottom: 14px;
  }

  @media (min-width: $desktop-width) {
    width: 325px;
    margin-top: 19px;
    margin-bottom: auto;
  }
}

.cart-more__item {
  font-family: $oswald;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-align: left;
  text-transform: uppercase;
  color: $quite-black2;
  padding-left: 1px;
  padding-bottom: 13px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    padding-top: 13px;
    padding-bottom: 13px;
    margin-bottom: 13px;
  }

  @media (min-width: $desktop-width) {
    width: 325px;
    margin-bottom: 0;
    padding-top: 15px;
  }
}
