.catalog {
  @media (min-width: $tablet-width) {
    position: relative;
  }
}

.catalog__see {
  font-family: $oswald;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: $grey;
  background: $quite-white2;
  width: 100%;
}

.catalog__text {
  font-family: $oswald;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  text-transform: uppercase;
  color: $quite-black2;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
  }
}

.catalog__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.catalog__more-wrapper {
  text-align: center;
  background-color: $white;

  @media (min-width: $tablet-width) {
    width: 35%;
    position: absolute;
    bottom: 0;
    right: 0;
  }
}
