.catalog {
  @media (min-width: $tablet-width) {
    position: relative;
  }
}

.catalog__title {
  padding: 30px 0;
  position: relative;
  margin-bottom: 10px;

  &::before {
    content: "";
    position: absolute;
    left: -20px;
    top: 2px;
    height: 104px;
    width: 320px;
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    z-index: -1;
  }

  @media (min-width: $tablet-width) {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.catalog__wrapper {
  //
}

.catalog__see {
  font-family: $oswald;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: $grey;
  background: $quite-white2;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 21px;

  &:hover {
    background: #ebebeb;
  }

  &:active,
  &:focus {
    color: rgba(68, 68, 68, 0.3);
  }
}

.catalog__item {
  min-height: 209px;
  border-bottom: 1px solid #ebebeb;
  padding-top: 22px;
}

.catalog__item-img--lil {
  @media (min-width: $tablet-width) {
    width: 161px;
    height: 172px;
    transform: translateY(-30px);
  }
}

.catalog__item-img--big {
  @media (min-width: $tablet-width) {
    width: 168px;
    height: 207px;
    transform: translateY(-30px);
  }
}

.catalog__text {
  font-family: $oswald;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  text-transform: uppercase;
  color: $quite-black2;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
  }
}

.catalog__text-big {
  padding-top: 19px;
  padding-bottom: 8px;
  margin-bottom: 0;
}

.catalog__text--wrapper {
  width: 76px;
  margin-bottom: 13px;
}

.catalog__pic--lil,
.catalog__pic--big {
  width: 139px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.catalog__text-lil {
  text-align: center;
}

.catalog__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media (min-width: $desktop-width) {
    justify-content: normal;
    align-items: baseline;
  }
}

.catalog__lilwrap {
  display: flex;
  flex-wrap: wrap;
  min-height: 118px;
  margin-bottom: 4px;
  //justify-content: space-between;

  @media (min-width: $tablet-width) {
    flex-direction: column;
    align-items: center;
  }
}

.catalog__tab {
  border-spacing: initial;
}

.catalog__tab-name {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 50%;
}

.catalog__col1 {
  text-align: left;
}

.catalog__col2 {
  text-align: right;
}

.catalog__more-wrapper {
  text-align: center;
  background-color: $white;
  padding-top: 26px;
  padding-bottom: 50px;

  &::before {
    content: url("../img/plus.svg");
    width: 30px;
    height: 30px;
  }

  @media (min-width: $tablet-width) {
    width: 23%;
    position: absolute;
    bottom: 0;
    right: 0;
  }

  @media (min-width: $desktop-width) {
    bottom: 15%;
    right: 2%;
  }
}
