.catalog {
  @media (min-width: $tablet-width) {
    position: relative;
  }
}

.catalog__title {
  @media (min-width: $tablet-width) {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

// .catalog__item {

// }

.catalog__see {
  font-family: $oswald;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: $grey;
  background: $quite-white2;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}

// .catalog__item-img {

// }

.catalog__item-img--lil {
  @media (min-width: $tablet-width) {
    width: 161px;
    height: 172px;
    transform: translateY(-30px);
  }
}

.catalog__item-img--big {
  @media (min-width: $tablet-width) {
    width: 168px;
    height: 207px;
    transform: translateY(-30px);
  }
}

.catalog__text {
  font-family: $oswald;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  text-transform: uppercase;
  color: $quite-black2;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
  }
}

.catalog__text-lil {
  text-align: center;
}

.catalog__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media (min-width: $desktop-width) {
    justify-content: normal;
    align-items: baseline;
  }
}

.catalog__lilwrap {
  display: flex;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    flex-direction: column;
    align-items: center;
  }
}

.catalog__tab-name {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.catalog__more-wrapper {
  text-align: center;
  background-color: $white;
  padding-top: 50px;
  padding-bottom: 50px;

  &::before {
    content: url("../img/plus.svg");
    width: 30px;
    height: 30px;
  }

  @media (min-width: $tablet-width) {
    width: 23%;
    position: absolute;
    bottom: 0;
    right: 0;
  }

  @media (min-width: $desktop-width) {
    bottom: 15%;
    right: 2%;
  }
}
