.cooperation {
  padding-top: 27px;

  @media (min-width: $tablet-width) {
    padding-top: 66px;
    //padding-bottom: 33px;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    padding-top: 0;
  }
}

.cooperation__block {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 26px;

  @media (min-width: $tablet-width) {
    margin-left: 70px;
    margin-right: 71px;
    margin-bottom: 60px;
  }

  @media (min-width: $desktop-width) {
    //width: 34%;
    width: 495px;
    position: absolute;
    left: 13%;
    top: 40%;
    margin: 0;
    background-color: $white;
    z-index: 3;

    &::before {
      position: absolute;
      content: "";
      display: block;
      width: 114%;
      height: 268%;
      top: -88%;
      left: -15%;
      z-index: -1;
      background-color: $white;
    }
  }
}

.cooperation__block--color {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    display: block;
    width: $mobile-width-only;
    height: 268%;
    top: -88%;
    left: -$mobile-rullers;
    z-index: -1;
    background-color: #f2f2f2;

    @media (min-width: $tablet-width) {
      width: $tablet-width;
      left: -$tablet-rullers;
    }

    @media (min-width: $desktop-width) {
      width: $desktop-width;
      left: -$desktop-rullers;
    }
  }
}

.cooperation--color {
  background-color: $quite-white2;

  @media (min-width: $desktop-width) {
    background-color: $white;
  }
}

.cooperation__diller {
  font-family: $oswald;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $quite-black;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    width: 100px;
    line-height: 24px;
  }
}

.cooperation__adress {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: $grey;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 17px;
    text-align: right;
    width: 185px;
    justify-self: right;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
    justify-self: left;
  }
}

.cooperation__town {
  @media (min-width: $tablet-width) {
    display: block;
    padding-top: 24px;
  }
}

.cooperation__map {
  display: block;
}

.cooperation__map-google {
  width: 320px;
  height: 362px;

  @media (min-width: $tablet-width) {
    width: 768px;
    height: 400px;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
  }
}
