.cooperation {
  padding-top: 27px;

  @media (min-width: $desktop-width) {
    position: relative;
    padding-top: 0;
  }
}

.cooperation__block {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 26px;

  @media (min-width: $desktop-width) {
    width: 35%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: $white;
  }
}

.cooperation--color {
  background-color: $quite-white2;

  @media (min-width: $desktop-width) {
    background-color: $white;
  }
}

.cooperation__diller {
  font-family: $oswald;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $quite-black;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 22px;
  }
}

.cooperation__adress {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: $grey;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
  }
}
