.example {
  background-color: $quite-white;
  padding-top: 28px;
  padding-bottom: 37px;

  @media (min-width: $tablet-width) {
    background-color: $white;
    padding-top: 43px;
    padding-bottom: 70px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    padding-top: 55px;
    padding-bottom: 0;
  }
}

.example__title {
  font-family: $oswald;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: $black;
  padding-bottom: 15px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    text-align: left;
    padding-bottom: 47px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 31px;
  }
}

.example__big-container {
  padding-top: 17px;

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: nowrap;
    background-color: $quite-white;
    padding-top: 0;
    padding-bottom: 63px;
  }
}

.example__container {
  @media (min-width: $tablet-width) {
    padding-bottom: 8px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 71px;
    display: flex;
    flex-wrap: wrap;
    background-color: $quite-white;
    width: 30%;
    align-content: flex-start;
  }
}

.example__bottom {
  padding-top: 25px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: nowrap;
  }

  @media (min-width: $desktop-width) {
    flex-wrap: wrap;
    margin-top: 12px;
  }
}

.example__wrapper {
  @media (min-width: $tablet-width) {
    margin: 0;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    transform: translate(-7px, -197px);
    margin-bottom: -190px;
  }
}

.example__result {
  //
  @media (min-width: $desktop-width) {
    flex-grow: 1;
    margin-top: 0;
  }
}

.example__text {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-align: left;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    width: 700px;
  }

  @media (min-width: $desktop-width) {
    width: 436px;
  }
}

.example__money {
  font-family: $oswald;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: $black;
  padding-top: 9px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    padding-top: 36px;
    line-height: 28px;
    text-align: right;
    margin-right: 0;
    margin-left: auto;
    width: 180px;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
    margin-right: 0;
    margin-left: 0;
    padding-top: 0;
    margin-top: 51px;
    width: 340px;
  }
}

// для picture
// .example__img {
//   padding-top: 42px;
//   padding-bottom: 28px;

//   @media (min-width: $tablet-width) {
//     padding-top: 0;
//     padding-bottom: 27px;
//     margin-top: 0;
//   }
// }

.example__img-catfat {
  @media (min-width: $tablet-width) {
    margin-left: 30px;
    margin-top: 57px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 0;
  }
}

.example__slider {
  display: flex;
  flex-wrap: nowrap;

  @media (min-width: $desktop-width) {
    padding-top: 20px;
    margin-bottom: 0;
    margin-top: auto;
  }
}

.example__numbers {
  @media (min-width: $desktop-width) {
    margin-left: 59px;
  }
}

@media (min-width: $desktop-width) {
  .example__img {
    position: relative;
  }

  .example__img-fat {
    position: absolute;
  }

  .example__img-notfat {
    position: absolute;
  }
}
