.example-cart {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding-top: 39px;
  padding-bottom: 19px;

  @media (min-width: $tablet-width) {
    padding-top: 18px;
    padding-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    width: 62%;
  }
}

.example-cart__block {
  z-index: 1;
  text-align: center;
  min-width: 124px;

  @media (min-width: $tablet-width) {
    min-width: 162px;
    text-align: center;

    &:first-child {
      margin-right: 41px;
    }
  }
}

.example-cart__number {
  font-family: $oswald;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: $black;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 37px;
    padding: 0;
    margin-bottom: 11px;
  }
}

.example-cart__text {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  color: #444444;
  position: relative;
  padding-top: 9px;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 14px;
    padding-left: 0;
    padding-top: 0;
  }

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: -38px;
    width: 124px;
    height: 56px;
    background-image: url("/img/line-around.svg");
    background-size: 100%;
    z-index: -1;

    @media (min-width: $tablet-width) {
      top: -64px;
      width: 162px;
      height: 73px;
    }
  }
}

.example-cart__text--2 {
  &::before {
    @media (min-width: $tablet-width) {
      left: 0;
    }
  }

  @media (min-width: $tablet-width) {
    padding-left: 0;
  }
}
