.footer {
  background-color: $quite-white2;
  text-align: center;
}

.footer__wrapper {
  padding-top: 38px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 54px;
    padding-bottom: 54px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 59px;
  }
}

.footer__logo {
  position: relative;

  @media (min-width: $tablet-width) {
    // margin-top: 6px;
    // margin-right: 157px;
  }

  @media (min-width: $desktop-width) {
    //margin-right: 413px;
  }

  &::after {
    content: "";
    position: absolute;
    display: block;
    bottom: -28px;
    left: -77px;
    width: 280px;
    height: 1px;
    background-image: url("../img/line.svg");

    @media (min-width: $tablet-width) {
      display: none;
    }
  }
}

.footer__social-list {
  display: flex;
  margin-top: 47px;
  justify-content: center;
  align-items: baseline;

  @media (min-width: $tablet-width) {
    margin-top: 0;
    justify-content: start;
    align-items: center;
    //margin-right: 132px;
  }

  @media (min-width: $desktop-width) {
    //margin-right: 388px;
  }
}

.footer__link--vk img {
  @media (min-width: $tablet-width) {
    width: 30px;
    height: 27px;
  }
}

.footer__link--inst img {
  @media (min-width: $tablet-width) {
    width: 30px;
    height: 24px;
  }
}

.footer__link--facebook img {
  @media (min-width: $tablet-width) {
    width: 28px;
    height: 33px;
  }
}

.footer__social-item:nth-child(1) {
  @media (min-width: $tablet-width) {
    margin-right: 23px;
  }
}

.footer__social-item:nth-child(2) {
  margin: 0 32px;

  @media (min-width: $tablet-width) {
    margin: 0 17px 0 0;
  }
}

.footer__logo2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  position: relative;
  min-width: 163px;

  @media (min-width: $tablet-width) {
    margin-top: 0;
  }

  &::after {
    content: "";
    position: absolute;
    display: block;
    top: -23px;
    left: -71px;
    width: 280px;
    height: 1px;
    background-image: url("../img/line.svg");

    @media (min-width: $tablet-width) {
      display: none;
    }
  }
}
