.footer {
  background-color: $quite-white2;
  text-align: center;
}

.footer__wrapper {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 26px;
    padding-bottom: 56px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 31px;
  }
}

.footer__logo {
  position: relative;
  padding-top: 29px;
  padding-bottom: 32px;

  @media (min-width: $tablet-width) {
    padding-top: 32px;
  }

  @media (min-width: $desktop-width) {
    //margin-right: 413px;
  }

  &::after {
    content: "";
    position: absolute;
    display: block;
    bottom: 0;
    left: -77px;
    width: 280px;
    height: 1px;
    background-image: url("../img/line.svg");

    @media (min-width: $tablet-width) {
      display: none;
    }
  }
}

.footer__logo-text:hover {
  opacity: 0.8;
}

.footer__logo-text:active,
.footer__logo-text:focus {
  opacity: 0.6;
}

.footer__social-list {
  padding-top: 16px;
  // padding-bottom: 16px;
  padding-bottom: 13px;
  display: flex;
  align-items: center;
  align-content: flex-start;
  width: 136px;

  @media (min-width: $tablet-width) {
    margin-top: 0;
    justify-content: start;
    width: 180px;
    padding-left: 34px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 10px;
  }
}

// .footer__social-item {
//   width: 30px;
//   height: 23px;
// }

.footer__social-item:not(:last-child) {
  margin-right: 35px;

  @media (min-width: $tablet-width) {
    margin-right: 20px;
  }
}

.footer__link--vk svg {
  width: 23px;
  height: 16px;

  @media (min-width: $tablet-width) {
    width: 34px;
    height: 22px;
  }
}

.footer__link--inst svg {
  width: 16px;
  height: 16px;

  @media (min-width: $tablet-width) {
    width: 23px;
    height: 23px;
  }
}

.footer__link--inst {
  @media (min-width: $tablet-width) {
    padding-left: 5px;
  }
}

.footer__link--vk svg:hover,
.footer__link--inst svg:hover {
  fill: #68b738;
}

.footer__link--vk svg:active,
.footer__link--vk:focus,
.footer__link--inst:active,
.footer__link--inst svg:focus {
  fill: #68b738;
  fill-opacity: 0.3;
}

.footer__link--facebook svg {
  width: 23px;
  height: 30px;

  @media (min-width: $tablet-width) {
    width: 31px;
    height: 33px;
  }
}

.footer__link--facebook svg:hover {
  stroke: #68b738;
}

.footer__link--facebook svg:active,
.footer__link--facebook:focus {
  stroke-opacity: 0.3;
}

.footer__logo2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  min-width: 280px;
  padding-top: 23px;
  padding-bottom: 23px;

  @media (min-width: $tablet-width) {
    margin-top: 0;
    min-width: 163px;
  }

  &::after {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 280px;
    height: 1px;
    background-image: url("../img/line.svg");

    @media (min-width: $tablet-width) {
      display: none;
    }
  }
}

.footer__copyright-link-map svg:hover {
  fill: #68b738;
}

.footer__logo2 svg:active,
.footer__logo2 svg:focus {
  fill-opacity: 0.3;
}

