.form {
  padding-bottom: 33px;
}

.form__text {
  width: 100%;
  font-family: $oswald;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $grey;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    width: 100%;
  }
}

.form__filed-wrapper {
  margin-bottom: 14px;
  display: flex;


  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }
}

.form__fieldset {
  display: block;
}

.name-radio {
  @media (min-width: $desktop-width) {
    display: flex;
  }
}

.form__input-text {
  font-family: $oswald;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  align-items: center;
  text-transform: uppercase;
  color: $grey;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.form__checkbox {
  padding-top: 26px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-left: 0;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.form__send {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  margin-bottom: 20px;

  @media (min-width: $desktop-width) {
    min-width: 568px;
  }
}

.form__footer {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
