.header__wrapper {
  display: flex;
  min-height: 66px;
  align-items: center;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    display: block;
    bottom: 0;
    right: -20px;
    width: 320px;
    height: 1px;
    background-color: $light-grey;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }
}

.header__big-wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
  }

  @media (min-width: $desktop-width) {
    justify-content: space-between;
  }
}

.header__logo,
.header__logo-text {
  display: block;
}

.header__logo {
  margin-right: 55px;
}

.header__logo-text {
  margin-right: 68px;
  margin-top: 3px;
}
