// .header {
//   background-image: url("../img/white-green.png");
//   background-size: cover;
// }

.header__big-wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
  }

  @media (min-width: $desktop-width) {
    justify-content: space-between;
  }
}

.header__wrapper {
  display: flex;
  min-height: 63px;
  align-items: center;
  position: relative;

  @media (min-width: $tablet-width) {
    padding-top: 19px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 51px;
  }

  &::after {
    content: "";
    position: absolute;
    display: block;
    bottom: -3px;
    right: -20px;
    width: 320px;
    height: 1px;
    background-color: $light-grey;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }
}

.header__logo {
  margin-right: 55px;

  @media (min-width: $tablet-width) {
    margin-right: 11px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 14px;
  }
}

.header__logo img {
  width: 34px;
  height: 42px;

  @media (min-width: $tablet-width) {
    width: 61px;
    height: 50px;
  }

  @media (min-width: $desktop-width) {
    width: 70px;
    height: 61px;
    display: inline;
  }
}

.header__logo-text img {
  display: block;
  width: 101px;
  height: 20px;
  margin-right: 68px;

  @media (min-width: $desktop-width) {
    width: 118px;
    height: 22px;
  }
}

.header__wrapper:hover {
  opacity: 0.8;
}

.header__wrapper:focus,
.header__wrapper:active {
  opacity: 0.6;
}
