.header__wrapper {
  display: flex;
  // var1
  // justify-content: space-between;
  // align-items: center;
  // padding-top: 12px;
  // padding-bottom: 10px;
  // var2
  min-height: 66px;
  align-items: center;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    //background-image: url("/source/img/line.svg");
    display: block;
    bottom: 0;
    right: -20px;
    width: 320px;
    height: 1px;
    background-color: $light-grey;
  }
}

.header__logo,
.header__logo-text {
  display: block;
}

.header__logo {
  margin-right: 55px;
}

.header__logo-text {
  margin-right: 68px;
  margin-top: 3px;
}
