.main__slogan-wrapper {
  background-image: url("../../img/index-background-desktop.jpg");
  background-repeat: no-repeat;
  padding-bottom: 300px;
  position: relative;

  @media (min-width: $tablet-width) {
    background-image: none;
    padding-bottom: 50px;
  }

  &::after {
    content: url("../../img/index-can-mobile.png");
    position: absolute;
    display: block;
    width: 260px;
    height: 240px;
    bottom: 30px;
    left: 20px;

    @media (min-width: $tablet-width) {
      bottom: -60px;
      left: 300px;
    }

    @media (min-width: $desktop-width) {
      left: 50%;
    }
  }
}

.main__title,
.main__slogan {
  color: $white;
  text-align: center;

  @media (min-width: $tablet-width) {
    text-align: left;
    color: $black;
  }
}

.main__title {
  padding-top: 27px;
  margin-bottom: 25px;
}

.main__slogan {
  line-height: 14px;

  @media (min-width: $tablet-width) {
    line-height: 20px;
  }
}
