.main__slogan-wrapper {
  background-image: url("../../img/index-background-desktop.jpg");
  background-repeat: no-repeat;
  padding-bottom: 300px;
  position: relative;

  &::after {
    content: url("../../img/index-can-mobile.png");
    position: absolute;
    display: block;
    width: 260px;
    height: 240px;
    bottom: 30px;
    left: 20px;
  }
}

.main__title,
.main__slogan {
  color: $white;
  text-align: center;
}


.main__title {
  padding-top: 27px;
  margin-bottom: 25px;
}

.main__slogan {
  line-height: 14px;
}
