.more__title {
  font-family: $oswald;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-align: left;
  color: $black;
  position: relative;
  padding-bottom: 35px;

  &::after {
    position: absolute;
    content: "";
    right: -21px;
    top: 15px;
    height: 2px;
    width: 53px;
    background: #68b738;
  }

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
  }
}

.more__wrap {
  @media (min-width: $desktop-width) {
    display: flex;
  }
}

.more__carts {
  padding-bottom: 40px;

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-right: 70px;
    width: 896px;
  }
}

.more__text {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  align-items: center;
  text-align: right;
  color: $grey;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    text-align-last: left;
  }
}

.more__text--left {
  text-align-last: left;

  @media (min-width: $tablet-width) {
    text-align-last: center;
  }

  @media (min-width: $desktop-width) {
    text-align-last: left;
    width: 160px;
  }
}

.more__button {
  font-size: 16px;

  @media (min-width: $tablet-width) {
    grid-column-start: 1;
    grid-column-end: -1;
  }

  @media (min-width: $desktop-width) {
    min-width: 266px;
  }

  &:hover {
    background-color: #5eaa2f;
  }

  &:active,
  &:focus {
    color: rgba(255, 255, 255, 0.3);
  }
}
