.programs {
  //не ставь падинг, испортишь фон!!!

  @media (min-width: $tablet-width) {
    //
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    padding-top: 80px;
  }
}

.programs__loose {
  margin-bottom: 22px;

  @media (min-width: $tablet-width) {
    margin-bottom: 30px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.programs__loose,
.programs__mass {
  display: flex;
  flex-wrap: wrap;
  background-color: $quite-white2;
  padding-top: 28px;
  padding-bottom: 21px;
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: $tablet-width) {
    display: block;
    padding-left: 52px;
    padding-bottom: 56px;
    padding-top: 77px;
  }

  @media (min-width: $desktop-width) {
    width: 47%;
    padding-top: 81px;
  }
}

.programs__mass {
  @media (min-width: $desktop-width) {
    padding-left: 55px;
    padding-top: 78px;
  }
}

.programs__title {
  font-family: $oswald;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  color: $black;
  padding-left: 71px;

  @media (min-width: $tablet-width) {
    margin-top: 0;
    font-size: 36px;
    line-height: 36px;
    padding-left: 0;
  }

  @media (min-width: $desktop-width) {
    padding-left: 162px;
  }
}

.programs__title--loose {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: -8px;
    width: 50px;
    height: 53px;
    background-image: url("../img/cat-sit.svg");
    background-size: 100%;
    background-repeat: no-repeat;

    @media (min-width: $tablet-width) {
      background-image: url("../img/cat-back-tab.svg");
      width: 200px;
      height: 211px;
      left: auto;
      top: 3px;
      right: 43px;
    }

    @media (min-width: $desktop-width) {
      width: 99px;
      height: 106px;
      left: 0;
      right: auto;
      top: -36px;
    }
  }
}

.programs__title--mass {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    left: -7px;
    top: -5px;
    width: 67px;
    height: 53px;
    background-image: url("../img/cat.svg");
    background-size: 100%;
    background-repeat: no-repeat;

    @media (min-width: $tablet-width) {
      width: 268px;
      height: 200px;
      background-image: url("../img/cat-go-tablet.svg");
      top: 15px;
      right: 8px;
      left: auto;
    }

    @media (min-width: $desktop-width) {
      width: 133px;
      height: 101px;
      left: -18px;
      right: auto;
      top: -27px;
    }
  }
}

.programs__description {
  width: 240px;
  padding-top: 30px;
  padding-bottom: 30px;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-align: left;

  @media (min-width: $tablet-width) {
    width: 375px;
    padding-top: 26px;
    padding-bottom: 26px;
    font-size: 16px;
    line-height: 24px;
    margin-left: 0;
  }

  @media (min-width: $desktop-width) {
    width: 467px;
    padding-top: 75px;
    padding-bottom: 0;
  }
}

.programs__description--min {
  width: 342px;

  @media (min-width: $desktop-width) {
    width: 467px;
  }
}

.programs__link {
  font-family: $oswald;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  color: $black;
  padding-top: 13px;
  position: relative;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    display: block;
    text-align: left;
    padding-top: 24px;
  }

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: -8px;
    width: 240px;
    height: 1px;
    background-image: url("../img/line-240px.svg");
    background-size: 100%;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  &::after {
    content: "";
    position: absolute;
    width: 32px;
    height: 12px;
    background-image: url("../img/arrow-ltl.svg");
    background-size: 100%;
    left: 100px;
    top: 13px;

    @media (min-width: $tablet-width) {
      left: 133px;
      top: 33px;
    }
  }
}

.programs__link--mass {
  &::after {
    @media (min-width: $tablet-width) {
      left: 129px;
      top: 34px;
    }
  }
}
