.stock {
  background-image: url("../img/gift-photo-mobile.jpg");
  background-repeat: no-repeat;
  background-color: $green;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/gift-photo-mobile@2x.jpg");
    background-size: contain;
    width: 280px;
    height: 289px;
  }

  @media (min-width: $tablet-width) {
    background-image: url("../img/gift-photo-tablet.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/gift-photo-tablet@2x.jpg");
      background-size: contain;
      width: 708px;
      height: 200px;
    }
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    background-image: url("../img/gift-photo-desktop.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/gift-photo-desktop@2x.jpg");
      background-size: contain;
      width: 245px;
      height: 289px;
    }
  }
}

.stock__text {
  padding-top: 187px;
  padding-bottom: 42px;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: $white;
  position: relative;

  @media (min-width: $tablet-width) {
    text-align: left;
    padding-top: 72px;
    padding-bottom: 66px;
    padding-left: 423px;
  }

  @media (min-width: $desktop-width) {
    width: 230px;
    text-align: center;
    padding-left: 14px;
    padding-top: 187px;
    padding-bottom: 0;
  }
}

.stock__text::before {
  content: url("../img/icon_gift.svg");
  width: 80px;
  height: 82px;
  position: absolute;
  top: 57px;
  left: 36%;

  @media (min-width: $tablet-width) {
    left: 77px;
  }

  @media (min-width: $desktop-width) {
    top: 56px;
    left: 85px;
  }
}
