.works {
  padding-top: 30px;
  padding-bottom: 20px;

  @media (min-width: $tablet-width) {
    padding-top: 46px;
    padding-bottom: 103px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 73px;
    padding-bottom: 70px;
  }
}

.works__title {
  font-family: $oswald;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: $black;
  margin-bottom: 37px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 71px;
  }

  @media (min-width: $desktop-width) {
    //
  }
}

.works__list {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop-width) {
    flex-wrap: nowrap;
  }
}

.works__items {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: $grey;
  padding-top: 2px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    width: 35%;
    padding-top: 112px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }

  &:nth-child(odd) {
    @media (min-width: $tablet-width) {
      margin-right: 135px;
    }

    @media (min-width: $desktop-width) {
      margin-right: 40px;
    }
  }

  &:nth-child(-n + 2) {
    @media (min-width: $tablet-width) {
      margin-bottom: 133px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 0;
    }
  }

  &:nth-child(-n + 3) {
    @media (min-width: $desktop-width) {
      margin-right: 76px;
    }
  }
}

.works__items--health,
.works__items--simple,
.works__items--exchange,
.works__items--mounth {
  background-repeat: no-repeat;
  padding-left: 80px;
  margin-bottom: 24px;
  //padding-top: 2px;

  @media (min-width: $tablet-width) {
    margin: 0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    background-size: 33%;
  }
}

.works__items--health {
  background-image: url("/img/list.svg");
}

.works__items--simple {
  background-image: url("/img/water.svg");
}

.works__items--exchange {
  background-image: url("/img/knife.svg");
}

.works__items--mounth {
  background-image: url("/img/clock.svg");
}
