.works {
  padding-top: 27px;
  padding-bottom: 42px;

  @media (min-width: $tablet-width) {
    padding-top: 46px;
    padding-bottom: 58px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 0;
    padding-bottom: 25px;
  }
}

.works__title {
  font-family: $oswald;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: $black;
  padding-bottom: 37px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $desktop-width) {
    //
  }
}

.works__list {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    padding-top: 36px;
  }

  @media (min-width: $desktop-width) {
    flex-wrap: nowrap;
  }
}

.works__items {
  width: 280px;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: $grey;
  padding-top: 2px;
  padding-bottom: 4px;
  padding-left: 80px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    width: 250px;
    padding-top: 112px;
    padding-left: 0;
    padding-bottom: 45px;
  }

  @media (min-width: $desktop-width) {
    width: 20%;
    margin: 0;
    padding-top: 113px;
  }
}

.works__items:nth-child(odd) {
  @media (min-width: $tablet-width) {
    margin-right: 133px;
  }
}

.works__items:not(:last-child) {
  @media (max-width: $mobile-width-only) {
    margin-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 81px;
  }
}

.works__items:nth-child(-n + 2) {
  @media (min-width: $tablet-width) {
    margin-bottom: 88px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.works__items--health,
.works__items--simple,
.works__items--exchange,
.works__items--mounth {
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    background-size: 32%;
  }
}

.works__items--health {
  background-image: url("../img/list.svg");
}

.works__items--simple {
  background-image: url("../img/water.svg");
}

.works__items--exchange {
  background-image: url("../img/knife.svg");
}

.works__items--mounth {
  background-image: url("../img/clock.svg");
}
