.container {
  margin: 0 auto;

  @media (min-width: $mobile-width-only) {
    max-width: $mobile-width-only;
  }

  @media (min-width: $tablet-width) {
    max-width: $tablet-width;
  }

  @media (min-width: $desktop-width) {
    max-width: $desktop-width;
  }
}

.br-for-mob {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.mob {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.br-for-tablet {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.br-for-tablet-desktop {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.tablet {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.br-for-desktop {
  display: none;

  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.name-radio-wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    padding-top: 26px;
  }
}

.rulers {
  margin-left: $mobile-rullers;
  margin-right: $mobile-rullers;

  @media (min-width: $tablet-width) {
    margin-left: $tablet-rullers;
    margin-right: $tablet-rullers;
  }

  @media (min-width: $desktop-width) {
    margin-left: $desktop-rullers;
    margin-right: $desktop-rullers;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.toggle {
  width: 20px;
  height: 20px;
  background-color: transparent;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.button {
  background-color: $green;
  font-family: $oswald;
  font-size: 14px;
  line-height: 18px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: $white;
  padding-top: 13px;
  padding-bottom: 10px;
  min-width: 280px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }
}

@media (max-width: $tablet-width) {
  .none {
    display: none;
  }

  .block {
    display: block;
  }
}

.button--programm {
  margin-bottom: 0;
  margin-top: auto;

  &:hover {
    background-color: #5eaa2f;
  }

  &:active,
  &:focus {
    color: rgba(255, 255, 255, 0.3);
  }

  @media (min-width: $tablet-width) {
    margin: 0;
    padding-top: 17px;
    padding-bottom: 17px;
    min-width: 234px;
  }

  @media (min-width: $desktop-width) {
    min-width: 244px;
  }
}

.necessary {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  align-items: center;
  text-align: center;
  color: $black;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    min-width: 286px;
    padding-top: 17px;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    padding-top: 19px;
  }
}

/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:focus,
:active,
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside,
a,
section,
img {
  display: block;
}

input,
button,
textarea {
  font-family: inherit;
}

button {
  cursor: pointer;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}
