// Viewports
$mobile-width-only: 320px;
$tablet-width: 768px;
$desktop-width: 1440px;
//colors
$white: #ffffff;
$quite-white:#eaeaea;
$quite-white2: #f2f2f2;
$light-grey: #e6e6e6;
$black: #000000;
$quite-black: #111111;
$quite-black2: #222222;
$green: #68b738;
$grey: #444444;
